<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    
    {{pessoa.id}} - {{pessoa.nome}} 

    <!-- <a href="{% url 'editar' pessoa.id %}" >editar</a></li>
    {% endfor % -->

    <form action="{% url 'update' pessoa.id %}" method="POST">
        {% csrf_token %}

        {{ form.aluno }}<span align="right">{{ form.aluno.label_tag }}</span>
        {{ form.atleta }}<span align="right">{{ form.atleta.label_tag }}</span>
        {{ form.professor }}<span align="right">{{ form.professor.label_tag }}</span>
        {{ form.outros }}<span align="right">{{ form.outros.label_tag }}</span>



        <label for="nome">Nome Completo:</label>
        <input type="text" name="nome" id="nome" value="{{pessoa.nome}}">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{pessoa.cpf}}">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{pessoa.email}}">
        <label for="telefone">Telefone:</label>
        <input type="number" id="telefone" name="telefone" value="{{pessoa.telefone}}">

        <label for="cep">CEP:</label>
        <input type="number" name="cep" id="cep" value="{{pessoa.cep}}">
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" id="endereco" value="{{pessoa.endereco}}">
        <label for="numero">Número:</label>
        <input type="number" id="numero" name="numero" value="{{pessoa.numero}}">
        <label for="complemento">Complemento:</label>
        <input type="text" name="complemento" id="complemento" value="{{pessoa.complemento}}">
        <label for="bairro">Bairro:</label>
        <input type="text" name="bairro" id="bairro" value="{{pessoa.bairro}}">
        <label for="cidade">Cidade:</label>
        <input type="text" name="cidade" id="cidade" value="{{pessoa.cidade}}">
        <label for="estado">estado:</label>
        <input type="text" name="estado" id="estado" value="{{pessoa.estado}}">  

        <button type="submit">Atualizar</button>"

       <!-- <input type="submit" value="update"> -->


    </form>
</body>
</html>