<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeonato</title>
</head>
<body>

    <ul>

        {% for campeonato in campeonato %}
        <li> {{campeonato.id}} - {{campeonato.nome}} 
        <a href="{% url 'editar' campeonato.id %}" >Editar</a>
        <a href="{% url 'delete' campeonato.id %}" >Deletar</a>
        </li>
        {% endfor %}
    </ul>

    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="id" id="id" value="{{campeonato.id}}">    

        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">

        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao">

        <label for="data">Data:</label>
        <input type="date" name="data" id="data">

        <label for="hora">Hora:</label>
        <input type="time" name="hora" id="hora">

        <label for="local">Local:</label>
        <input type="text" name="local" id="local">

        <label for="valor">Valor:</label>
        <input type="number" name="valor" id="valor">

      

        <button type="submit">Salvar</button>"

       <!-- <input type="submit" value="salvar"> -->

    </form>
    
</body>
</html>